@mixin column() {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-self: center
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

html, body {
  background: #000;
  color: #eee;
  font-size: 16px;
  margin: 0;

  #auth {
    @include column;

    .form {
      @include column;
      margin-top: 20vh;

      * {
        margin-top: 10px;
        height: 26px;
      }

      input[type="text"], input[type="password"] {
        padding-left: 5px;
        width: 90vw;
        max-width: 300px;
      }

      input[type="button"] {
        background: rgb(19, 111, 157);
        color: #eee;
        border: none;
        font-size: 1.1rem;
        cursor: pointer;

        &:hover {
          background: rgb(23, 127, 179);
        }
      }

      p {
        align-self: center;
        cursor: pointer;
      }
    }

    p {
      align-self: center;
    }
  }

  #nav {
    height: 30px;
    width: 100vw;
    background: rgb(43, 141, 204);
    color: #eee;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    .links {
      * {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        margin: 0 15px;
      }
    }
  }

  #addproduct {
    display: flex;
    flex-flow: column;
    align-items: center;

    div {
      @include column;

      * {
        padding: 0 5px;
      }

      input{
        margin: 6px;
        border: none;
        border-radius: 3px;
        height: 26px;
        width: 300px;
        box-sizing: border-box;
      }

      input[type="button"] {
        background: rgb(40, 144, 57);
        color: #eee;

        &:hover {
          background: rgb(49, 168, 68);
        }
      }
    }

  }

  #myproducts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1050px;
    min-width: 450px;
    margin: 0 auto;

    animation: fadein 1s;

    img {
      width: 90px;
      max-height: 90px;
      object-fit: cover;
    }

    div.item {
      max-width: 500px;
      min-width: 400px;
      width: 90vw;
      border: 1px solid rgb(70, 70, 70);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: 10px;
      cursor: pointer;

      &:hover {
        background: #0d0808;
      }

      * {
        margin: 5px 10px;
      }

      div {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }

  #lists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    div {
      margin: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 250px;
      height: 300px;
      border: solid 2px rgb(48, 30, 45);
      cursor: pointer;

      animation: fadein 1s;

      &:hover {
        background: rgb(26, 27, 24);
      }

      h4 {
        max-width: 200px;
      }

      img {
        width: 200px;
        max-height: 250px;
        object-fit: cover;
      }

      span {
        margin: 10px;
      }
    }
  }
}
